<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GRBL_Plotter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib"/>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <GRBL_Plotter.Properties.Settings>
      <setting name="cameraColorCross" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="cameraColorText" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="cameraIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cameraPosBot" serializeAs="String">
        <value>-50</value>
      </setting>
      <setting name="cameraPosTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cameraRotation" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="cameraScalingBot" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="cameraScalingTop" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="cameraTeachRadiusBot" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="cameraTeachRadiusTop" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="cameraToolOffsetX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cameraToolOffsetY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="camFilterBlue1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="camFilterBlue2" serializeAs="String">
        <value>64</value>
      </setting>
      <setting name="camFilterGreen1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="camFilterGreen2" serializeAs="String">
        <value>64</value>
      </setting>
      <setting name="camFilterOutside" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="camFilterRed1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="camFilterRed2" serializeAs="String">
        <value>64</value>
      </setting>
      <setting name="camShapeCircle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="camShapeDist" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="camShapeDistMax" serializeAs="String">
        <value>0.03</value>
      </setting>
      <setting name="camShapeRect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="camShapeSet1" serializeAs="String">
        <value>Paper|0|100|0|100|0|100|True|True|True|20|200|0.5|1|</value>
      </setting>
      <setting name="camShapeSet2" serializeAs="String">
        <value>PCB|0|150|0|150|0|150|False|False|True|20|100|0.5|1|</value>
      </setting>
      <setting name="camShapeSet3" serializeAs="String">
        <value>Wood|0|106|0|237|123|246|True|True|False|10|100|0.5|2.0|</value>
      </setting>
      <setting name="camShapeSet4" serializeAs="String">
        <value />
      </setting>
      <setting name="camShapeSize" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="camShapeSizeMax" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="camShapeSizeMin" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="convertZtoSMax" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="convertZtoSMin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="convertZtoSOff" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="crcValue" serializeAs="String">
        <value>2.5</value>
      </setting>
      <setting name="createShapeOrigin" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="createShapeR" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="createShapeToolDiameter" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="createShapeToolFeedXY" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="createShapeToolFeedZ" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="createShapeToolOverlap" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="createShapeToolPath" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="createShapeToolSpindleSpeed" serializeAs="String">
        <value>20000</value>
      </setting>
      <setting name="createShapeToolZStep" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="createShapeType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="createShapeX" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="createShapeY" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="createTextFontDistance" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="createTextFontIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="createTextFontSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="createTextFontText" serializeAs="String">
        <value>Test</value>
      </setting>
      <setting name="createTextLineDistance" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="ctrl4thInvert" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ctrl4thName" serializeAs="String">
        <value>A</value>
      </setting>
      <setting name="ctrl4thOverX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ctrl4thUse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ctrlCommentOut" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ctrlDIYShowFeedback" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ctrlLaserMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ctrlReplaceEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ctrlReplaceM3" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ctrlSendStopJog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ctrlToolChange" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ctrlToolChangeEmpty" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ctrlToolChangeEmptyNr" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ctrlToolScriptGet" serializeAs="String">
        <value>data\scripts\</value>
      </setting>
      <setting name="ctrlToolScriptProbe" serializeAs="String">
        <value>data\scripts\</value>
      </setting>
      <setting name="ctrlToolScriptPut" serializeAs="String">
        <value>data\scripts\script_pen2_remove.nc</value>
      </setting>
      <setting name="ctrlToolScriptSelect" serializeAs="String">
        <value>data\scripts\script_pen2_select.nc</value>
      </setting>
      <setting name="ctrlUpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ctrlUseSerial2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ctrlUseSerialDIY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flowControlEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="flowControlText" serializeAs="String">
        <value>M5; M9</value>
      </setting>
      <setting name="gamePadButtons0" serializeAs="String">
        <value>#Start (Start streaming)</value>
      </setting>
      <setting name="gamePadButtons1" serializeAs="String">
        <value>#F+10 (Feedrate +10%)</value>
      </setting>
      <setting name="gamePadButtons10" serializeAs="String">
        <value>G92 X0 Y0 (Zero X and Y)</value>
      </setting>
      <setting name="gamePadButtons11" serializeAs="String">
        <value />
      </setting>
      <setting name="gamePadButtons12" serializeAs="String">
        <value />
      </setting>
      <setting name="gamePadButtons13" serializeAs="String">
        <value />
      </setting>
      <setting name="gamePadButtons14" serializeAs="String">
        <value />
      </setting>
      <setting name="gamePadButtons15" serializeAs="String">
        <value />
      </setting>
      <setting name="gamePadButtons2" serializeAs="String">
        <value>#F100 (Feedrate =100%)</value>
      </setting>
      <setting name="gamePadButtons3" serializeAs="String">
        <value>#F-10 (Feedrate -10%)</value>
      </setting>
      <setting name="gamePadButtons4" serializeAs="String">
        <value>G92 X0 (Zero X)</value>
      </setting>
      <setting name="gamePadButtons5" serializeAs="String">
        <value>G92 Z0 (Zero Z)</value>
      </setting>
      <setting name="gamePadButtons6" serializeAs="String">
        <value>G92 Y0 (Zero Y)</value>
      </setting>
      <setting name="gamePadButtons7" serializeAs="String">
        <value>G92 X0 Y0 Z0 (Zero all)</value>
      </setting>
      <setting name="gamePadButtons8" serializeAs="String">
        <value>$H (Homing)</value>
      </setting>
      <setting name="gamePadButtons9" serializeAs="String">
        <value>#Start (Start streaming)</value>
      </setting>
      <setting name="gamePadEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="gamePadRAxis" serializeAs="String">
        <value>A</value>
      </setting>
      <setting name="gamePadRInvert" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="gamePadXAxis" serializeAs="String">
        <value>X</value>
      </setting>
      <setting name="gamePadXInvert" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="gamePadYAxis" serializeAs="String">
        <value>Y</value>
      </setting>
      <setting name="gamePadYInvert" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="gamePadZAxis" serializeAs="String">
        <value>Z</value>
      </setting>
      <setting name="gamePadZInvert" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="grblBufferAutomatic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="grblBufferSize" serializeAs="String">
        <value>127</value>
      </setting>
      <setting name="grblLastOffsetA" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="grblLastOffsetB" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="grblLastOffsetC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="grblLastOffsetCoord" serializeAs="String">
        <value>54</value>
      </setting>
      <setting name="grblLastOffsetX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="grblLastOffsetY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="grblLastOffsetZ" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="grblPollIntervalIndex" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="grblPollIntervalReduce" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="gui2DColorBackground" serializeAs="String">
        <value>224, 224, 224</value>
      </setting>
      <setting name="gui2DColorHeightMap" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="gui2DColorMachineLimit" serializeAs="String">
        <value>Fuchsia</value>
      </setting>
      <setting name="gui2DColorMarker" serializeAs="String">
        <value>DeepPink</value>
      </setting>
      <setting name="gui2DColorPenDown" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="gui2DColorPenUp" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="gui2DColorRotaryInfo" serializeAs="String">
        <value>0, 192, 192</value>
      </setting>
      <setting name="gui2DColorRuler" serializeAs="String">
        <value>0, 0, 192</value>
      </setting>
      <setting name="gui2DColorTool" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="gui2DToolTableShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="gui2DWidthHeightMap" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="gui2DWidthMarker" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="gui2DWidthPenDown" serializeAs="String">
        <value>0.4</value>
      </setting>
      <setting name="gui2DWidthPenUp" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="gui2DWidthRotaryInfo" serializeAs="String">
        <value>0.4</value>
      </setting>
      <setting name="gui2DWidthRuler" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="gui2DWidthTool" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="guiBackgroundImageEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="guiBackgroundShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="guiCheckUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="guiCustomBtn1" serializeAs="String">
        <value>Set new coord|G43.1 Z-31.628 ; G92 X140 Y0 Z32</value>
      </setting>
      <setting name="guiCustomBtn10" serializeAs="String">
        <value>Btn 10|(-)</value>
      </setting>
      <setting name="guiCustomBtn11" serializeAs="String">
        <value>Btn 11|(-)</value>
      </setting>
      <setting name="guiCustomBtn12" serializeAs="String">
        <value>Btn 12|(-)</value>
      </setting>
      <setting name="guiCustomBtn13" serializeAs="String">
        <value> | </value>
      </setting>
      <setting name="guiCustomBtn14" serializeAs="String">
        <value> | </value>
      </setting>
      <setting name="guiCustomBtn15" serializeAs="String">
        <value> | </value>
      </setting>
      <setting name="guiCustomBtn16" serializeAs="String">
        <value> | </value>
      </setting>
      <setting name="guiCustomBtn2" serializeAs="String">
        <value>Move to 0;0;0|G90 G0 X0 Y0 Z0</value>
      </setting>
      <setting name="guiCustomBtn3" serializeAs="String">
        <value>Tray Out|G91 G53 G0 Z-1;G90 G53 G0 Y-5</value>
      </setting>
      <setting name="guiCustomBtn4" serializeAs="String">
        <value>Tray In|G90 G53 G0 Y-160</value>
      </setting>
      <setting name="guiCustomBtn5" serializeAs="String">
        <value>Set Pen 1|T1;</value>
      </setting>
      <setting name="guiCustomBtn6" serializeAs="String">
        <value>Pen take|data\scripts\script_pen2_select.nc</value>
      </setting>
      <setting name="guiCustomBtn7" serializeAs="String">
        <value>Pen remove|data\scripts\script_pen2_remove.nc</value>
      </setting>
      <setting name="guiCustomBtn8" serializeAs="String">
        <value>Btn 8|(-)</value>
      </setting>
      <setting name="guiCustomBtn9" serializeAs="String">
        <value>Btn 9|(-)</value>
      </setting>
      <setting name="guiCustomBtn17" serializeAs="String">
        <value> | </value>
      </setting>
      <setting name="guiCustomBtn18" serializeAs="String">
        <value> | </value>
      </setting>
      <setting name="guiCustomBtn19" serializeAs="String">
        <value> | </value>
      </setting>
      <setting name="guiCustomBtn20" serializeAs="String">
        <value> | </value>
      </setting>
      <setting name="guiCustomBtn21" serializeAs="String">
        <value> | </value>
      </setting>
      <setting name="guiCustomBtn22" serializeAs="String">
        <value> | </value>
      </setting>
      <setting name="guiCustomBtn23" serializeAs="String">
        <value> | </value>
      </setting>
      <setting name="guiCustomBtn24" serializeAs="String">
        <value> | </value>
      </setting>
      <setting name="guiCustomBtn25" serializeAs="String">
        <value> | </value>
      </setting>
      <setting name="guiCustomBtn26" serializeAs="String">
        <value> | </value>
      </setting>
      <setting name="guiCustomBtn27" serializeAs="String">
        <value> | </value>
      </setting>
      <setting name="guiCustomBtn28" serializeAs="String">
        <value> | </value>
      </setting>
      <setting name="guiCustomBtn29" serializeAs="String">
        <value> | </value>
      </setting>
      <setting name="guiCustomBtn30" serializeAs="String">
        <value> | </value>
      </setting>
      <setting name="guiCustomBtn31" serializeAs="String">
        <value> | </value>
      </setting>
      <setting name="guiCustomBtn32" serializeAs="String">
        <value> | </value>
      </setting>
      <setting name="guiJoystickASpeed1" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="guiJoystickASpeed2" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="guiJoystickASpeed3" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="guiJoystickASpeed4" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="guiJoystickASpeed5" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="guiJoystickAStep1" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="guiJoystickAStep2" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="guiJoystickAStep3" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="guiJoystickAStep4" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="guiJoystickAStep5" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="guiJoystickSize" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="guiJoystickXYSpeed1" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="guiJoystickXYSpeed2" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="guiJoystickXYSpeed3" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="guiJoystickXYSpeed4" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="guiJoystickXYSpeed5" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="guiJoystickXYStep1" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="guiJoystickXYStep2" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="guiJoystickXYStep3" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="guiJoystickXYStep4" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="guiJoystickXYStep5" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="guiJoystickZSpeed1" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="guiJoystickZSpeed2" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="guiJoystickZSpeed3" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="guiJoystickZSpeed4" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="guiJoystickZSpeed5" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="guiJoystickZStep1" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="guiJoystickZStep2" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="guiJoystickZStep3" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="guiJoystickZStep4" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="guiJoystickZStep5" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="guiLanguage" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="guiLastFileLoaded" serializeAs="String">
        <value>D:\</value>
      </setting>
      <setting name="guiSpindleSpeed" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="heightMapDeltaX" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="heightMapDeltaY" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="heightMapGridX" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="heightMapGridY" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="heightMapProbeDepth" serializeAs="String">
        <value>-5</value>
      </setting>
      <setting name="heightMapProbeHeight" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="heightMapProbeSpeed" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="heightMapX1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="heightMapX2" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="heightMapY1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="heightMapY2" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="importBezierLineSegmentsCnt" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="importCodeFold" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ImportDXFSize" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="importDXFSwitchWhite" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="importDXFToolIndex" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCAddComments" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCCompress" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCDecPlaces" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="importGCDragKnifeAngle" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="importGCDragKnifeEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCDragKnifeLength" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="importGCDragKnifePercent" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="importGCDragKnifePercentEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCFooter" serializeAs="String">
        <value>M30</value>
      </setting>
      <setting name="importGCHeader" serializeAs="String">
        <value>G54; </value>
      </setting>
      <setting name="importGCIndEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCIndPenDown" serializeAs="String">
        <value>(Pen Down command);(Cmd2)</value>
      </setting>
      <setting name="importGCIndPenUp" serializeAs="String">
        <value>(Pen Up command);(Cmd2)</value>
      </setting>
      <setting name="importGCLineSegmentation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCLineSegmentEquidistant" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCLineSegmentLength" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="importGCNoArcs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCPWMDlyDown" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="importGCPWMDlyUp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="importGCPWMDown" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="importGCPWMEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCPWMUp" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="importGCRelative" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCSDirM3" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="importGCSegment" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="importGCSpindleCmd" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="importGCSpindleDelay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="importGCSpindleToggle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCSpindleToggleLaser" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCSSpeed" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="importGCSubEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCSubFirst" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCSubroutine" serializeAs="String">
        <value>data\scripts\subroutine.nc</value>
      </setting>
      <setting name="importGCTool" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCToolDefNr" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="importGCToolDefNrUse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCToolM0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCToolTableUse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCToolUseRouter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCTTSSpeed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCTTXYFeed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCTTZAxis" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCXYFeed" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="importGCZDown" serializeAs="String">
        <value>-2</value>
      </setting>
      <setting name="importGCZEnable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="importGCZFeed" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="importGCZIncEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCZIncrement" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="importGCZIncStartZero" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGCZUp" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="importGroupObjects" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importGroupSort" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="importGroupSortInvert" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importImageHeight" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="importImageKeepRatio" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="importImageReso" serializeAs="String">
        <value>0.4</value>
      </setting>
      <setting name="importImageResoApply" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importImageWidth" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="importLineDashPattern" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importLineDashPatternG0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importPauseElement" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importPausePenDown" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importRemoveShortMovesEnable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="importRemoveShortMovesLimit" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="importRepeatCnt" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="importRepeatEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importShowUseCaseDialog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="importSVGAddComments" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importSVGDPI96" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="importSVGMaxSize" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="importSVGNodesOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importSVGPathExtend" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importSVGRezise" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importUnitGCode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="importUnitmm" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="laserMotionDelay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="laserMotionDelayPower" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="laserMotionX" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="laserMotionY" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="laserScanPowerFeed" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="laserScanPowerFrom" serializeAs="String">
        <value>2500</value>
      </setting>
      <setting name="laserScanPowerStep" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="laserScanPowerTo" serializeAs="String">
        <value>2500</value>
      </setting>
      <setting name="laserScanSpeedFrom" serializeAs="String">
        <value>2500</value>
      </setting>
      <setting name="laserScanSpeedPower" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="laserScanSpeedStep" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="laserScanSpeedTo" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="laserScanZFeed" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="laserScanZPower" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="laserScanZRange" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="location2ndGRBLForm" serializeAs="String">
        <value>100, 200</value>
      </setting>
      <setting name="locationCamForm" serializeAs="String">
        <value>50, 150</value>
      </setting>
      <setting name="locationCntrlCoordForm" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="locationHeightForm" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="locationImageForm" serializeAs="String">
        <value>100, 350</value>
      </setting>
      <setting name="locationMForm" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="locationSerForm1" serializeAs="String">
        <value>0, 50</value>
      </setting>
      <setting name="locationSerForm2" serializeAs="String">
        <value>300, 50</value>
      </setting>
      <setting name="locationSetForm" serializeAs="String">
        <value>200, 150</value>
      </setting>
      <setting name="locationShapeForm" serializeAs="String">
        <value>150, 400</value>
      </setting>
      <setting name="locationStreamForm" serializeAs="String">
        <value>50, 200</value>
      </setting>
      <setting name="locationTextForm" serializeAs="String">
        <value>50, 300</value>
      </setting>
      <setting name="machineLimitsAlarm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="machineLimitsFix" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="machineLimitsHomeX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="machineLimitsHomeY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="machineLimitsHomeZ" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="machineLimitsRangeX" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="machineLimitsRangeY" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="machineLimitsRangeZ" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="machineLimitsShow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="mainFormSize" serializeAs="String">
        <value>900, 640</value>
      </setting>
      <setting name="mainFormSplitDistance" serializeAs="String">
        <value>296</value>
      </setting>
      <setting name="mainFormWinState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="overrideFRBtm" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="overrideFRTop" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="overrideFRValue" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="overrideSSBtm" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="overrideSSTop" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="overrideSSValue" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="restoreWorkCoordinates" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rotarySubstitutionDiameter" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="rotarySubstitutionEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rotarySubstitutionScale" serializeAs="String">
        <value>360</value>
      </setting>
      <setting name="rotarySubstitutionSetupEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rotarySubstitutionSetupOff" serializeAs="String">
        <value>$100=1600;$110=1000;$120=50</value>
      </setting>
      <setting name="rotarySubstitutionSetupOn" serializeAs="String">
        <value>$100=4.444;$110=10000;$120=1000</value>
      </setting>
      <setting name="rotarySubstitutionX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="serialBaud1" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="serialBaud2" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="serialBaudDIY" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="serialMinimize" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="serialPort1" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="serialPort2" serializeAs="String">
        <value>COM2</value>
      </setting>
      <setting name="serialPortDIY" serializeAs="String">
        <value>COM9</value>
      </setting>
      <setting name="toolTableLastLoaded" serializeAs="String">
        <value>empty</value>
      </setting>
      <setting name="toolTableOffsetX" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="toolTableOffsetY" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="toolTableOffsetZ" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="toolTableOriginal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="useCaseLastLoaded" serializeAs="String">
        <value>?</value>
      </setting>
      <setting name="importUseCaseInfo" serializeAs="String">
        <value>Information about current use case</value>
      </setting>
      <setting name="probingToolDiameter" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="probingOffsetX" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="probingOffsetY" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="probingOffsetZ" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="probingFeed" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="probingTravelX" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="probingTravelY" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="probingTravelZ" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="probingSaveX" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="probingSaveY" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="probingSaveZ" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="probingFinalX" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="probingFinalY" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="probingFinalZ" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="locationProbingForm" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="probingWorkpieceDiameter" serializeAs="String">
        <value>20</value>
      </setting>
    </GRBL_Plotter.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>