<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GRBL_Plotter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <GRBL_Plotter.Properties.Settings>
            <setting name="port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="baud" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="file" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="custom1" serializeAs="String">
                <value>Custom Button 1||Nothing to do</value>
            </setting>
            <setting name="custom2" serializeAs="String">
                <value>Custom Button 2||Nothing to do</value>
            </setting>
            <setting name="custom3" serializeAs="String">
                <value>Custom Button 3||Nothing to do</value>
            </setting>
            <setting name="custom4" serializeAs="String">
                <value>Custom Button 4||Nothing to do</value>
            </setting>
            <setting name="custom5" serializeAs="String">
                <value>Custom Button 5||Nothing to do</value>
            </setting>
            <setting name="custom6" serializeAs="String">
                <value>Custom Button 6||Nothing to do</value>
            </setting>
            <setting name="custom7" serializeAs="String">
                <value>Custom Button 7||Nothing to do</value>
            </setting>
            <setting name="custom8" serializeAs="String">
                <value>Custom Button 8||Nothing to do</value>
            </setting>
            <setting name="camerindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="camerarotation" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="camerascalingTop" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="camerascalingBot" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="cameraTeachRadiusTop" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="cameraTeachRadiusBot" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="cameraPosTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cameraPosBot" serializeAs="String">
                <value>-50</value>
            </setting>
            <setting name="cameraToolOffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cameraToolOffsetY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastOffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastOffsetY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastOffsetZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="colorBackground" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="colorRuler" serializeAs="String">
                <value>0, 0, 192</value>
            </setting>
            <setting name="colorPenUp" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="colorPenDown" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="colorTool" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="widthRuler" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="widthPenUp" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="widthPenDown" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="widthTool" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="colorMarker" serializeAs="String">
                <value>DeepPink</value>
            </setting>
            <setting name="widthMarker" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="textFontIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="textFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="importGCZUp" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="importGCZDown" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="importGCZFeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="importGCSSpeed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="textFontText" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="importGCZEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="importGCSpindleToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importGCAddComments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="importGCXYFeed" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="importGCHeader" serializeAs="String">
                <value />
            </setting>
            <setting name="importGCFooter" serializeAs="String">
                <value>G0 X0 Y0; M30</value>
            </setting>
            <setting name="importGCPWMEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importGCPWMUp" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="importGCPWMDown" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="importGCPWMDlyUp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="importGCPWMDlyDown" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="importSVGBezier" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="importSVGRezise" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="importSVGMaxSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="importSVGAddComments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="importSVGReduce" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="importSVGReduceLimit" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="importSVGPauseElement" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="importSVGPausePenDown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="importSVGPathExtend" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="locationSerForm" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="locationMForm" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="locationSetForm" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="locationCamForm" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="serialMinimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="port2" serializeAs="String">
                <value>COM2</value>
            </setting>
            <setting name="baud2" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="locationSerForm2" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="importSVGToolColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importPalette" serializeAs="String">
                <value />
            </setting>
            <setting name="importGCTool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ctrlToolChange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ctrlToolScriptGet" serializeAs="String">
                <value />
            </setting>
            <setting name="useSerial2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ctrlToolScriptPut" serializeAs="String">
                <value />
            </setting>
            <setting name="ctrlToolScriptSelect" serializeAs="String">
                <value />
            </setting>
            <setting name="importSVGToolSort" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ctrlToolScriptProbe" serializeAs="String">
                <value />
            </setting>
        </GRBL_Plotter.Properties.Settings>
    </userSettings>
</configuration>
