<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="basedir" value="${specialfolder:folder=CommonApplicationData}/GRBL-Plotter" />    <!-- default, optional -->
  
    <targets>
        <target name="file" xsi:type="File"
            layout="${longdate} | ${pad:padding=-5:inner=${level}} | ${pad:padding=-30:inner=${logger}} | ${message}${exception:format=ToString}" 
            header="----- Possible levels: Trace, Debug, Info, Warn, Error, Fatal ----|&#xD;&#xA;"
            fileName="${var:basedir}/logfile.txt"
            archiveFileName="${var:basedir}/log_{#}.txt"
            keepFileOpen="true"
            maxArchiveFiles="20"
            encoding="utf-8" 
            archiveNumbering="DateAndSequence"
            archiveOldFileOnStartup="true"/>
        <target name="file2" xsi:type="File"
            layout="${message}${exception:format=ToString}" 
    		fileName="${var:basedir}/logpos.nc"
			keepFileOpen="false"
            encoding="utf-8" 
            archiveNumbering="Rolling"
            archiveOldFileOnStartup="true"
            maxArchiveFiles="3"/>
    </targets>
 
    <rules>
        <logger name="*" minlevel="Info" writeTo="file" />
		<logger name="LogPos" minlevel="Trace" writeTo="file2" />
    </rules>
</nlog>