<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.7" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.7" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.7" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.7" targetFramework="net40" developmentDependency="true" />
  <package id="NLog" version="4.6.7" targetFramework="net40" />
  <package id="QRCoder" version="1.3.9" targetFramework="net40" />
</packages>